
body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(13, 12, 8);
    margin: 0;
}

/* Estilos para el modal de verificacion de edad */
#modal {
    display: none;
    position: fixed; /* posicion fija*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(6, 6, 6);
    color: white;
    padding: 40px 60px 40px 60px  ;
    text-align: center;
    box-shadow: 0 0 10px rgb(255, 72, 0);
}
#modal-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
 
}
#modal-content img:hover {
    filter: saturate(200%)
 
}
#modal-content button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(243, 157, 8);
    cursor: pointer;
}
#modal-content button:hover{
   background-color: rgb(211, 135, 3);
}


/*MENU HEADER*/ 
header.main-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
   
  .header-wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(33, 33, 33);
    z-index: 999;
  }
   
  .wrap-logo-header{
    display: flex;
    align-items: center;
    flex-basis: 15%;
  }
   
  .logo-header{
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }
   
  .nav-header{
    display: flex;
    align-items: center;
    width: 100%;
  }
   
  .nav-wrap-header{
    display: flex;
    flex-basis: 50%;
  }
   
  ul.main-menu{
    display: flex;
    width: 100%;
    z-index: 99;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    font-size: 1.1rem;
  }
   
  ul.main-menu #nav-main-contact{
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #c9c9c9;
    border-radius: 20px;
    color: #040404;
    
  }
     
  ul.main-menu #nav-main-contact:hover{
   background-color: #afafaf;
  }
  li.menu-item{
    margin: .75rem;
    display: flex;
  }
   
  li.menu-item a{
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;
  }
   
  li.menu-item a:hover{
    color: #908f8e;
  }
   
  i.toggle-menu{
    display: none;
    background-color: #f7f6f6;
    border: none;
    z-index: 9999;
  }
   
  i.toggle-menu img{
    width: 27px;
    z-index: 99;
  }
   
  input#check{
    display: none;
  }
  /*Boton del carrito*/

.btn .material-icons{
    cursor: pointer;
    color: white;
    position: absolute;
    top: 30px;
    right: 50px;
}
  /*menu header estilos del banner*/
  .banner {
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),url(/cliente/media/img/aaa.jpg);    
 }
 .banner-container{
     text-align: center;
     padding: 15% 0;
 }
 
 .banner h1{
     margin: 0;
     color: white;
     text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
     font-size: 62px;
     font-weight: bold;
 }
 .banner p{
     font-size: 38px;
     color: white;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
 }







/*Estilos de los productos carrito*/
.container img{
    height: 300px;
    width: 100% ;
}

.card-product{
    width: 100% auto; 
    padding: 0px 10px 30px 10px;
    background-color: rgb(21, 21, 21);
    border-radius: 15px;
    margin: 30px 30px 30px 30px; 
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-product > div {
    padding: 0px 0px 20px 10px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 30px 10px 10px 10px  ;
}

.card-product img{
    margin-top: 40px;
    margin-left: 5px;
    border-radius: 10px 10px 0px 0px;
    width: 200px;
    height: 200px;
  
}

.product h3, .product p {
    margin: -4px 4px 0px 8.5px;
    padding: 0px 0px 15px 0px;
}

.card-product button{
    border: none;
    outline: none;
    padding: 10px 84px;
    color: black;
    background-color: #c9c9c9 ;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
}

.card-product button:hover {
    background-color: #b0b0b0;
 
}



/*cantidad de productos en el carrito*/
.CantidadCarrito {
    background-color: red;
    color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 12px;
    padding: 5px;
    top: 47px;
    right: 42px;
    position: absolute;
    display: none;

}

/* modal del carrito */
.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #f1f0f0;
    background-color:rgba(47, 47, 47, 0.963);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*para el top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: #000000 transparent;
    border-radius: 50px;
}
.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
}
.modal-header-tittle{
    justify-self: start;
}
.modal-header-button{
    cursor: pointer;
    
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img{
    height: 120px;
    width: 129px;
}

.total-content{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

/*boton MecadoPago*/
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 100px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  margin-top: 30px ;
  border-radius: 10px;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: #0069d9;
  border-color: #0062cc;
}
#button-checkout {
  z-index: 10;
} 

/*delete button productos del modal*/
.delete-product {
    cursor: pointer;
}
/*sumar y restar productos */
.quantity{
  cursor: pointer;
}


/*boton whatssap*/
.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:40px;
	background-color:#1ef86e;
	color:#FFF;
	border-radius:50px;
	text-align:center;
     font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:12px;
}

/*Footer */
.material-symbols-outlined{
  color: white;
}
.pie-pagina{
  width: 100%;
  background-color: #050505;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.pie-pagina .grupo-1 .box figure img{
  width: 100px;
  
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  margin-right: 10px;
  background-color: #1a1b1c;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 50%;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: rgb(255, 119, 0);
}
.pie-pagina .grupo-2{
  background-color: #0e0e0e;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}


/*media del footer */
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

/*MEDIA DE HEADER MENU */
@media (min-width:880px){
    .header-wrap{
      padding: .5rem 5rem;
    }
  }
   
  @media (max-width:768px){
    header{
      margin-bottom: 4rem;
    }
    .header-wrap{
      position: fixed;
      width: 100%;
      background-color: #060606;
      padding: 0;
      top: 0;
      z-index: 9999;
      height: 60px;
    }
    .wrap-logo-header{
      position: fixed;
      z-index: 999;
      top: 3%;
      left: 3%;
    }
    i.toggle-menu{
      display: flex;
    }
    ul.main-menu,#nav-main-contact{
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
    }
    ul.main-menu{
      position: fixed;
      background-color: #1e1c1c;
    }
    label.checkbtn{
      position: fixed;
      right: 3%;
      top: 3%;
      z-index: 9999;
    }
    #check:checked ~ ul{
      display: flex;
      z-index: 9;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      top: 0;
      font-size: 2rem;
    }
}